@import 'datatables.net-dt';

.App {
  text-align: center;
}

a, a:hover {
  text-decoration: none !important;
}

a {
  color: white !important;
}

body {
  background-color: #494c52;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

#root {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 5px;
}

.form-control{
  background-color: white;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.col-form-label {
  display: block;
  font-weight: bold;
}

.dt-input {
  margin-right: 2em;
}
